      /* General CSS */
      body {
        font-family: sans-serif;
        background-color: rgba(243, 243, 243, 0.911);
    }

    nav {
        background-color: rgba(79, 70, 206, 0.986);
        font-size: 18px;
        line-height: 3vh;
        grid-area: nav;
        vertical-align: middle;
        overflow: hidden;
        color: white;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    nav p {
        margin-right: 15px;
    }

    nav p a:hover {
        font-size: 19px;
    }

    a {
        color: white;
        text-decoration: none !important;
    }

    .formBox {
        position: fixed;
        left: 36%;
        top: 30%;
        border: 0;
        background-color: rgba(63, 88, 202, 0.924);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.383);
        color: white;
        line-height: 35px;
        font-size: 16px;
        padding: 5vw;
        min-width: 10vw;
        min-height: 5vw;
    }

    .formBox button {
        margin-top: 4vw;
    }